.activebar-container{
	background: #ffffe1;
	border-bottom: 1px solid rgb(102, 102, 102); 
	color: rgb(0, 0, 0); 
	cursor: default; 
	display: block; 
	font-size: 9px; 
	height:0;
	left: 0px; 
	overflow:hidden;
	padding: 4px 0; 
	position: absolute;
	text-decoration:none;
	top: 0px; 
	width: 100%;
	z-index: 9999;
	direction:ltr; 
}
.activebar-container .icon, .activebar-container .close {height:16px; margin:0 4px; padding: 0;  width:16px; }
.activebar-container .icon  { float: left; }
.activebar-container .close {float: right; }
.activebar-container p {font-family: Bitstream Vera Sans,verdana,sans-serif; font-size: 11px; margin: 0px 8px; padding-top: 1px; }