a#activebar-container{
	background: #ffffe1;
	border-bottom: 1px solid rgb(102, 102, 102); 
	color: rgb(0, 0, 0); 
	cursor: default; 
	display: block; 
	font-size: 9px; 
	height:0;
	left: 0px; 
	overflow:hidden;
	padding: 4px 0; 
	position: absolute;
	text-decoration:none;
	top: 0px; 
	width: 100%;
	z-index: 9999; 
}
a#activebar-container .icon, a#activebar-container .close {height:16px; margin:0 4px; padding: 0;  width:16px; }
a#activebar-container .icon { background-position:17px 0; float: left; }
a#activebar-container .close {background-position: 0 0;   float: right; }
a#activebar-container p {font-family: Bitstream Vera Sans,verdana,sans-serif; font-size: 11px; margin: 0px 8px; padding-top: 1px; }

a#activebar-container:hover {background-color: #3399ff}
a#activebar-container:hover .icon {background-position:17px 16px}
a#activebar-container:hover .close{background-position:0 16px}