div#activebar-container{
	background: #ffffe1;
	border-bottom: 1px solid rgb(102, 102, 102); 
	color: rgb(0, 0, 0); 
	cursor: default; 
	display: block; 
	font-size: 9px; 
	left: 0px; 
	padding: 4px; 
	position: fixed;
	top: 0px; 
	width: 100%;
	z-index: 9999; 
}
div#activebar-container .icon, div#activebar-container .close {height:16px; margin:0 4px; padding: 0;  width:16px; }
div#activebar-container .icon { background-position:17px 0; float: left; }
div#activebar-container .close {background-position: 0 0;   float: right; }
div#activebar-container p {font-family: Bitstream Vera Sans,verdana,sans-serif; font-size: 11px; margin: 0px 8px; padding-top: 1px; }